node_modules/
.env
.env.local
.env.*.local

dist/
build/

serviceAccount.json
vision-key.json

uploads/
*.log
.env
truthlens-backend/.env
truthlens-backend/serviceAccount.json
truthlens-backend/vision-key.json
